@charset "utf-8";

.section {overflow-x: hidden; border-bottom: 1px solid #999; /* background: rgba(0,0,0,0.5); */}
.section img{width: 100%; height: 100%; object-fit: cover;}
.sec1{position: relative; background: url(../images/sub/history_bg.png) no-repeat center; background-size: cover; }

.sec1 .line{width: 1px; height: 100%; background: #999; position: absolute; left: 313px; top: 0 !important;  }



.sec1 .me_txt{position: absolute; top: 300px; left: 600px;}
.sec1 .me_txt h2{font-size: 4rem; font-weight: 700}
.sec1 .me_txt h3{ font-size: 15rem; line-height: 1.1;}
.sec1 .me_txt p{font-size: 4rem;}
#fp-nav ul li{padding: 50px 0;}

#fp-nav ul li .fp-tooltip { opacity: 1 !important; width: 200px !important; top: 40px !important; color: #000 !important; font-weight: 900; font-family: 'noto sansa kr', sans-serif !important;}
#fp-nav.fp-left  { left: 300px !important; }
#fp-nav ul li .active > div {font-size: 3rem !important;}


/* sec1 */


.sec2{position: relative; height: 100%; }
.sec2_left {width: 1100px;display: flex;}
.sec2 .line{width: 1px; height: 100%; background: #999; position: absolute; left: 313px; top: 0 !important;  }



.sec2 .me_txt{position: absolute; top: 130px; left: 500px;}
.sec2 .me_txt h2{font-size: 4rem; font-weight: 700}
.sec2 .me_txt h3{ font-size: 10rem; line-height: 1.1;}
.sec2 .me_txt p{font-size: 4rem; padding-bottom: 50px;}
.sec2 .me_txt > span {font-size: 1.6rem; line-height: 1.7; }


.sec2 .sec2_right{width: calc(100% - 1100px); position: absolute ; top: 130px; left: 1050px;}
.sec2 .sec2_right .box{width: 700px; height: 400px; background: lightcoral;
    position: absolute ; top: 200px;  }

/* sec2 */

.sec3{position: relative; height: 100%;}
.sec3_left {width: 1100px;display: flex;}
.sec3 .line{width: 1px; height: 100%; background: #999; position: absolute; left: 313px; top: 0 !important;  }



.sec3 .me_txt{position: absolute; top: 160px; left: 500px;}
.sec3 .me_txt h2{font-size: 4rem; font-weight: 700}
.sec3 .me_txt h3{ font-size: 10rem; line-height: 1.1;}
.sec3 .me_txt p{font-size: 4rem; padding-bottom: 50px;}
.sec3 .me_txt > span {font-size: 1.6rem; line-height: 1.9; }


.sec3 .sec3_right{width: calc(100% - 1100px); position: absolute ; top: 130px; left: 1050px;}
.sec3 .sec3_right .box{width: 700px; height: 400px; background: lightcoral;
    position: absolute ; top: 100px;  }


/* sec3 */

.sec4{position: relative; height: 100%;}
.sec4_left {width: 1100px;display: flex;}
.sec4 .line{width: 1px; height: 100%; background: #999; position: absolute; left: 313px; top: 0 !important;  }



.sec4 .me_txt{position: absolute; top: 190px; left: 500px;}
.sec4 .me_txt h2{font-size: 4rem; font-weight: 700}
.sec4 .me_txt h3{ font-size: 10rem; line-height: 1.1;}
.sec4 .me_txt p{font-size: 4rem; padding-bottom: 50px;}
.sec4 .me_txt > span {font-size: 1.6rem; line-height: 1.9; }


.sec4 .sec4_right{width: calc(100% - 1100px); position: absolute ; top: 130px; left: 1050px;}
.sec4 .sec4_right .box{width: 700px; height: 400px; background: lightcoral;
    position: absolute ; top: 100px;  }



/* sce4 */


.sec5{position: relative; height: 100%;}
.sec5_left {width: 1100px;display: flex;}
.sec5 .line{width: 1px; height: 100%; background: #999; position: absolute; left: 313px; top: 0 !important;  }



.sec5 .me_txt{position: absolute; top: 190px; left: 500px;}
.sec5 .me_txt h2{font-size: 4rem; font-weight: 700}
.sec5 .me_txt h3{ font-size: 10rem; line-height: 1.1;}
.sec5 .me_txt p{font-size: 4rem; padding-bottom: 50px;}
.sec5 .me_txt > span {font-size: 1.6rem; line-height: 1.9; }


.sec5 .sec5_right{width: calc(100% - 1100px); position: absolute ; top: 130px; left: 1050px;}
.sec5 .sec5_right .box{width: 700px; height: 400px; background: lightcoral;
    position: absolute ; top: 100px;  }

 #fp-nav ul li a.active span { background: red; color: #000; font-weight: 700;}
 #footer .fp-overflow {overflow-x: hidden; width: 100%;}
   
/* sec5 */